.box-main-text{
    margin-top: 80px;
}

.point-text{
    color: var(--lightTitle);
    line-height: 30px;
    margin-bottom: 0px;
    font-size: 16px;
}

.related-links-list{
   
    color: var(--lightTitle);
}

