.news-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px 16px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.news-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-item-inner {
    display: flex;
    align-items: center;
    gap: 12px;
}

.news-item-image img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}

.news-item-content a {
    color: var(--button);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.news-item-content a:hover {
    text-decoration: underline var(--button) !important; 
}

.news-item-content p {
    color: var(--lightTitle);
    line-height: 19px;
    font-size: 14px;
    margin: 8px 0 12px 0;
}

.post-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.post-date {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 600;
    color: var(--lightTitle);
}

.post-date svg {
    color: var(--button);
}

.post-author {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 600;
    color: var(--lightTitle);
}

.post-author svg {
    color: var(--button);
}

.sidebar-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 30px 20px;
    margin-bottom: 20px;
}

.sidebar-title h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 12px;
    padding-left: 10px;
}

.link-item {
    background-color: #F8FBFD;
    padding: 20px 30px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid var(--button);
}

.link-title {
    color: var(--orangeColor);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
}

.link-description {
    color: var(--lightTitle);
    font-size: 14px;
}

.link-list {
    color: var(--button);
}

.link-list li a {
    color: var(--button);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.text-black a {
    color: var(--button);
}