/* .membership-tabs {
    border-bottom: 2px solid var(--foreground);
} */

.mt-40 {
    margin-top: 40px;
}

.membership-tabs .nav-link.active {
    background-color: var(--foreground);
    color: var(--background) !important;
    border: 1px solid var(--foreground);
}

.membership-tabs .nav-link {
    background-color: #f1f1f3;
    color: var(--foreground) !important;
    width: 100%;
    padding: 16px 0;
    justify-content: center;
    font-size: 15px ! important;
    font-weight: 600 ! important;
}

.membership-tabs .nav-link:hover {
    background-color: var(--foreground);
    color: var(--background) !important;
}


.tab-content {
    padding: 60px 0px 0px;
}

.btn-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.client-logo {
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
}

.item-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 18px;
    color: var(--orangeColor);
}

.item-description {
    font-size: 15px;
    line-height: 1.5;
}

.item-lists {
    margin: 20px 0;
}

.item-lists ul {
    list-style: number;
}

.item-lists ul li {
    font-size: 15px;
}

.item-link {
    color: var(--button);
    font-size: 15px;
    font-weight: 500;
}

.content-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.content-item:last-child {
    border-bottom: none;
}

.btn-blue {
    background-color: var(--button);
    color: var(--background);
    border: none;
    padding: 15px 30px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
}

.table-border {
    background-color: var(--background);
    color: var(--foreground);
    padding: 15px;
}

.table-border th,
.table-border td {
    background-color: transparent !important;
    color: var(--foreground);
    padding: 20px;
}

.table-border th {
    background-color: #ECECEC !important;
}

.note {
    font-size: 14px;
    margin-top: 20px;
    color: var(--foreground);
}

.note::before {
    content: "* ";
}

.table-border td:nth-child(2),
.table-border td:nth-child(3),
.table-border td:nth-child(4) {
    text-align: right;
}




.table-type-header {
    border: 1px solid #ccc;
    padding: 20px 30px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.table-type-title {
    font-weight: bold;
}

.project-logo {
    position: relative;
}

.project-logo img {
    width: 110px;
    height: 110px;
    border-radius: 8px;
    object-fit: fill;
}

.item-border-table {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px 10px;
    margin-bottom: 20px;
}

.left-item {
    display: flex;
    gap: 16px;
}

.small-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.small-item svg {
    color: var(--button);
}

.small-item p {
    color: var(--lightTitle);
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 600;
}

.tag-title {
    margin-bottom: 0;
    font-weight: 600;
}

.item-border-table .item-inner {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.right-item {
    border-left: 1px solid #ccc;
    padding-left: 20px;
    height: 100%;
}

.collaboration-logo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.collaboration-logo-list img {
    width: calc(50% - 8px);
    height: 50px;
    border-radius: 8px;
    object-fit: fill;
}


.project-details-wrapper .description-project p {
    color: var(--lightTitle);
    line-height: 1.6;
    font-size: 14px;
    overflow: auto;
    display: initial;
    margin-bottom: 16px;
}

.table-membership {
    width: 100%;
    white-space: nowrap;
}

.btn-pagination {
    background-color: var(--secondary);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.membership-tabs::-webkit-scrollbar {
    display: none;
}

.group-tags li {
    margin-right: 0;
}

.group-tags ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.box-icon-csf img {
    width: 80px;
    height: 80px;
}
.content-area {
    margin-bottom: 22px;
}

.content-area h6 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.content-area a {
    color: var(--button);
    font-size: 14px;
    font-weight: 600;
}

.content-area p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 0;
    color: var(--lightTitle);
}

.tab-view {
    border: 1px solid #ccc;
}

.body-tabs {
    padding: 30px 20px;
    padding-bottom: 30px;
}

.table-program thead th {
    background-color: var(--primary);
    color: var(--background);
}

.info-box {
    background: #F7F6F9;
    border-left: 5px solid var(--button);
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.info-box svg {
    min-width: 24px;
    min-height: 24px;
    color: var(--button);
}

.info-box p {
    margin-bottom: 0;
    font-size: 14px;
    color: var(--button);
}

/* .membership-tabs .nav-item */

@media screen and (max-width: 768px) {
    .membership-tabs .tab-line-container {
        overflow-x: auto;
        flex-wrap: nowrap;
        overflow-y: hidden;
    }

    .membership-tabs .nav-link {
        white-space: nowrap;
        padding: 16px 12px;
    }

    .tab-content {
        padding: 30px 0 0; 
    }

    .box-icon-csf img {
        width: 80px;
        height: 80px;
    }

    .border-box-common {
        padding: 30px 16px;
    }

    .box-content-text h3 {
        font-size: 20px;
    }

    .project-resources-item {
        padding: 20px;
    }

    .project-resources-item h3 {
        font-size: 20px;
    }

    .btn-blue {
        padding: 10px 24px;
    }

    .client-logo {
        margin-bottom: 22px;
        height: 100px;
    }

    .left-item {
        flex-wrap: wrap;
    }

    .item-border-table .item-inner {
        flex-wrap: wrap;
    }

    .right-item {
        display: none;
    }

    .body-tabs {
        padding: 30px 16px;
    }
}

/* Small devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    .client-logo {
        margin-bottom: 22px;
        height: 100px;
    }

    .membership-tabs .tab-line-container {
        overflow-x: auto;
        flex-wrap: nowrap;
        overflow-y: hidden;
    }

    .membership-tabs .nav-link {
        white-space: nowrap;
        padding: 16px 12px;
    }
}