.custom-card {
  background-color: #ffffff;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  position: relative;
  transition: transform 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-5px);
}

.custom-card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  /* border-radius: 8px; */
}

.custom-card-subheading {
  font-size: 14px;
  font-weight: 500;
  color: #1A14A7;
  display: block;
  margin-bottom: 4px;
}

.custom-card-heading {
  font-size: 22px;
  font-weight: 600;
  color: #101828;
}

.custom-card-text {
  font-size: 15px;
  color: #667085;
}

.custom-card-icon {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.custom-card-content {
  text-align: left;
}
.banner-leadership-workshops-section{
    height: 269px;
    border-radius: 50px;
}
 .box-text-heding{
    font-size: 40px;
    font-weight: bold;
    margin: 18px 0;
    line-height: 70px;
}
@media (max-width: 767px) {
  .custom-card {
    padding: 1rem;
  }

  .custom-card-img {
    height: 150px;
  }

  .custom-card-heading {
    font-size: 18px;
  }

  .custom-card-text {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .custom-card-img {
    height: 160px;
  }
}
