.news-box {
    padding: 24px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.news-box:hover {
    transform: translateY(-8px);
}

.news-box-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-box-content {
    margin-top: 30px;
}

.news-box-content span {
    font-size: 14px;
    color: var(--primary);
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.news-box-content h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--foreground);
}

.news-box-content p {
    font-size: 15px;
    line-height: 1.6;
    color: var(--lightTitle);
    margin-bottom: 0;
}

.blog-link {
    display: flex;
    justify-content: space-between;
}

.blog-link svg {
    margin-left: 5px;
    min-width: 20px;
    min-height: 20px;
    color: var(--foreground);
}

.post-author {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.post-author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.post-author p {
    font-size: 14px;
    font-weight: bold;
    color: var(--foreground);
    margin-bottom: 0;
    line-height: normal;
}

.post-author span {
    font-size: 12px;
    color: var(--lightTitle);
}